header {
	font-size:30px;
	font-family: Lato;
	padding: 10px;
	background-color:rgb(9, 63, 57);
	color:#FFFFFF;
}

html, body {
	background-color:#FFFFFF;
	height:100%;
	margin:0;
}
.wrapper {
	min-height:calc(100% - 60px);
}
main {
	color:#0c5449;
	padding-left:10px;
	margin-left:50px;
	margin-right:50px;
	padding-bottom:50px;
	padding-top: 100px;
}

#input, #output {
	display: inline-block;
	width:40%;
}

#input {
	padding-right:40px;
}

.formItem{
	display:block;
}

.label, .formItem .error {
	padding-top:3px;
	display:inline-block;
	font-size:12px;
}

.label {
	float:left;
}
#inValLabel {
	padding-bottom:30px;
}

.formItem .error {
	float:right;
}

.error  {
	color:#cc0000;
}

.inputError {
	border-color:#cc0000;
} 

#outVal {
	padding-bottom:37px;
	font-size:30px;
	text-align:right;
}

#buttons {
	margin-top: 10px;
}

#buttons button {
	display:inline;
	padding:.5em 1.5em;
	font-size: 1rem;
	font-weight:700;
	border:none;
	border-radius:3px;
	background-color:#E1E1E1;
	font-family:Lato;
	color:#0c5449;
}
#buttons button:hover, #buttons button:focus {
	background-color:#D1D1D1;
}

input {
	width: 100%;
	font-size:20px;
	background-color:#FFFFFF;
	border: 1px solid #0c5449;
	border-radius:3px;
	color:#;
}

input:hover, input:focus {
	-moz-box-shadow:    3px 3px   #ccc;
  -webkit-box-shadow: 3px 3px   #ccc;
  box-shadow:         3px 3px   #ccc;
}
input:focus {
	background-color:#FFFFFF
}

footer {
	background-color:rgb(9, 63, 57);
	font-size:12px;
	color:#b1c5c3;
	padding:0px 0px 10px 10px;
	height:50px;
}

footer ul{
	display:inline-block;
	padding-right:10px;
	padding-left:0px;
}

footer li{
	list-style-type:none;
}

footer a {
	color:#b1c5c3;
	text-decoration:none;
}

footer a:hover {
	text-decoration:underline;
}

.copyright{
	text-align:center;
	font-size:12px;
	font-style:italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
		url('../assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
